<!DOCTYPE html>
<html>
  <head>
    <title>Product Details</title>
  </head>
  <body>
    <h1>{{ product_name }} Export Data</h1>

    <div style="float: left; width: 50%">
      <h2>Bar Graph</h2>
      <img src="data:image/png;base64,{{ bar_graph_data }}" alt="Bar Graph" />
    </div>

    <div style="float: right; width: 50%">
      <h2>Pie Chart</h2>
      <img src="data:image/png;base64,{{ pie_chart_data }}" alt="Pie Chart" />
    </div>

    <div style="clear: both"></div>
  </body>
</html>
